<%= render partial: "shared/heading", locals: {title: "Dashboard"} %>
<%= flash_messages %>
<section id="dashboard" class="width-wrapper">
  <!-- <ol class="breadcrumb">
  <li class="active"><a href="index.html">Home</a></li>
  </ol> -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <a class="info-tiles tiles-alizarin has-footer" href="#">
          <div class="tiles-heading">
            Overdue
          </div>
          <div class="tiles-body">
            <div class="text-center"><%= @overdue %></div>
          </div>
          <div class="tiles-footer">
            <div class="text-center">see all overdue requests</div>
          </div>
        </a>
      </div>
      <div class="col-md-3">
        <a class="info-tiles tiles-warning has-footer" href="#">
          <div class="tiles-heading">
            On Hold
          </div>
          <div class="tiles-body">
            <div class="text-center"><%= @pending %></div>
          </div>
          <div class="tiles-footer">
            <div class="text-center">see all pending requests</div>
          </div>
        </a>
      </div>
      <div class="col-md-3">
        <a class="info-tiles tiles-blue has-footer" href="#">
          <div class="tiles-heading">
            Open
          </div>
          <div class="tiles-body">
            <div class="text-center"><%= @open %></div>
          </div>
          <div class="tiles-footer">
            <div class="text-center">see all open requests</div>
          </div>
        </a>
      </div>

      <div class="col-md-3">
        <a class="info-tiles tiles-midnightblue has-footer" href="#">
          <div class="tiles-heading">
            Due Today
          </div>
          <div class="tiles-body">
            <div class="text-center"><%= @today %></div>
          </div>
          <div class="tiles-footer">
            <div class="text-center">See all requests due today</div>
          </div>
        </a>
      </div>
    </div>


    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">

          <div class="panel-heading">
            <h2>Recent Activity</ha>
          </div>
          <div class="panel-body">
            <% @activities.each do |activity| %>
              <div class="activity">
                <%= activity.owner.name if activity.owner %>
                <%= render_activity activity %>
              </div>
            <% end %>
          </div>

        </div>
      </div>
    </div>
  </div> <!-- .container-fluid -->
</section> <!-- #dashboard -->